<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>我的活動</title>
</head>
<body>
    <h1>我的活動</h1>
    
    <table>
        <thead>
            <tr>
<!--                 <th>Event ID</th> -->
                <th>活動名稱</th>
                <th>活動內容</th>
                
            </tr>
        </thead>
        <tbody>
            <tr th:each="event : ${events}">
<!--                 <td th:text="${event.eveID}"></td> -->
                <td th:text="${event.eveName}"></td>
                <td th:text="${event.detail}"></td>
                
                <td>
            <a th:href="@{/events/ShowDetails/{eventID}(eventID=${event.eveID})}">活動詳情</a>
           </td>
               <td>
                <form method="post" th:action="@{cancel}"  style="margin-bottom:0px;"  >
                
<!--        <input type="hidden" name="memId" th:value="${member.mem_Id}" /> -->
<!--     <input type ="submit" value="取消報名"> -->
<!--        <input type="hidden" name=" eventId" th:value="${event.eveID}" /> -->
<!--     <button type="submit" class="btn btn-danger">取消報名</button> -->
    </form>
<!--     style="margin-bottom: 0px -->
<!--     <form method="post" th:action="@{delete}" -->
<!--       style="margin-bottom: 0px;"> -->
<!--       <input type="submit" value="刪除活動"> -->
<!--        <input type="hidden"name ="eveID" th:value="${event.eveID}"> -->
<!--      </form> -->
    </td>
            </tr>
            
        </tbody>
    </table>
    <form action="/cancel" method="post">
<!--     <input type="hidden" name="memId" th:value="${member.mem_Id}" /> -->
<!--     <input type="hidden" name="eventId" th:value="${event.eveID}" /> -->
<!--     <button type="submit" class="btn btn-danger">取消報名</button> -->
</form>
 
</body>
</html>