<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>修改商品</title>
<link rel="stylesheet" th:href="@{/css/updateItem.css}">

</head>
<body>
	<header>
		<h3>修改商品</h3>
		<h4>
			<a th:href="@{/item}"><img th:src="@{/images/back.jpg}" alt="返回"
				style="width: 75px; height: 75px; border-radius: 50%;"></a>
		</h4>
	</header>

	<form th:action="@{update}" method="post" th:object="${item}"
		enctype="multipart/form-data">

		<div>
			<label>咖啡廳編號:</label> <input type="text" th:field="*{cafeId}"
				readonly style="font-weight: bold; border: 0;" />
		</div>

		<div>
			<label>商品編號:</label> <input type="text" th:field="*{itemId}" readonly
				style="font-weight: bold; border: 0;" />
		</div>
		<div>
			<label>商品名稱:</label> <input id="name" type="text" th:field="*{name}"
				onclick="hideContent('name.errors');" /> <span
				th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
				class="error" id="name.errors"></span>
		</div>
		<div>
			<label>單價:</label> <input type="text" th:field="*{price}"
				onclick="hideContent('price.errors');" /> <span
				th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
				class="error" id="price.errors"></span>
		</div>

		<div>
			<label>數量:</label> <select class="num_select" th:field="*{num}">
				<option th:each="i : ${#numbers.sequence(0, 100)}" th:value="${i}"
					th:text="${i}"></option>
			</select>
		</div>


		<div>
			<label>介紹:</label>
			<textarea th:field="*{content}"
				onclick="hideContent('content.errors');"></textarea>
			<span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"
				class="error" id="content.errors"></span>
		</div>
		<div>
			<label>商品狀態:</label> <select class="status_select"
				th:field="*{status}">
				<option value="0" th:selected="${item.status == 0}">下架</option>
				<option value="1" th:selected="${item.status == 1}">上架</option>
			</select>
		</div>
		<div>
			<label>封面圖片:</label> <input type="file" id="coverImg" name="coverImg">
			<br>
			<!-- 可以不修改圖片  -->
			<span th:if="${#fields.hasErrors('coverImg')}"
				th:errors="*{coverImg}" class="error" id="coverImg.errors"></span>

			<div id="blob_holder">

				<img th:if="${item.coverImg != null}"
					th:src="@{/coverImg(itemId=${item.itemId})}" th:alt="${item.name}"
					style="height: 120px; width: auto; border-radius: 10px;"> <img
					th:if="${item.previewImage}" th:src="${item.previewImage}"
					style="height: 120px; width: auto; border-radius: 10px;" />
			</div>
		</div>




		<div class="submit-container">
			<button type="submit">送出修改</button>
		</div>
	</form>





	<script src="/js/updateItem.js"></script>

</body>
</html>
