<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>會員資料修改 - update_member_input.html</title>

<head>
<style type="text/css">
	
	button {
		padding: 5px;
	}
	form {
		display: table;
	}
	form div {
		display: table-row;
	}
	label, input, span, select {
		display: table-cell;
		margin: 5px;
		text-align: left;		
	}
	input[type=text], input[type=password], select, textarea {
		width: 200px;
		margin: 5px;
	}
	form div div {
		display: table-cell;
	}
	.center {
        margin-left: auto;
        margin-right: auto;
    }
    span.error{
       	color:red;
    }
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		 <div align="center"> <h2>會員資料修改 - update_member_input.html</h2>
		 <h3><a class="navbar-brand" th:href="@{/profile}"><img th:src="@{/images/222.png}">回會員中心</a></h3></div>
</nav>

	<div align="center">
		<h3><b>所有欄位皆為必填欄位</b></h3>
		<form th:action="@{update}" method="post" th:object="${memberVO}" enctype="multipart/form-data">
			<div>
				<input type="hidden" th:field="*{mem_Id}" style="border:0px ; font-weight: bold;" readonly /><br/>
				<input type="hidden" th:field="*{status}" style="border:0px ; font-weight: bold;" readonly /><br/>
			</div>
			
			<div>
			<label>會員帳號:</label>
			<input type="text" th:field="*{ac}" onclick="hideContent('ac.errors');" readonly/><br/>
			<span  th:if="${#fields.hasErrors('ac')}" th:errors="*{ac}" class="error" id="ac.errors"></span>
			</div>
			
			<div>
			<label>會員密碼:</label>
			<input type="text" th:field="*{pw}" onclick="hideContent('pw.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('pw')}" th:errors="*{pw}" class="error" id="pw.errors"></span>
			</div>
			
			<div>
			<label>信箱:</label>
			<input type="text" th:field="*{email}" onclick="hideContent('email.errors');" readonly/><br/>
            <span  th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error" id="email.errors"></span>
			</div>
			
            <div>
            <label>會員姓名:</label>
            <input type="text" th:field="*{name}" onclick="hideContent('name.errors');" /><br/>
            <span  th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error" id="name.errors"></span>
            </div>
            
            <div>
			<label>生日:</label>
			<input type="date" th:field="*{birth}" onclick="hideContent('birth.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('birth')}" th:errors="*{birth}" class="error" id="birth.errors"></span>
			</div>
            
            <div>
            <label>性別:</label>
            <input type="radio" th:field="*{sex}" value="男" onclick="hideContent('sex.errors');" name="sex" id="boy"/>
            <label for="boy">男</label>
            <input type="radio" th:field="*{sex}" value="女" onclick="hideContent('sex.errors');" name="sex" id="girl"/>
            <label for="girl">女</label>
            <span  th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}" class="error" id="sex.errors"></span>
        	</div>
           	
			<div>
			<label>手機:</label>
			<input type="text" th:field="*{phone}" onclick="hideContent('phone.errors');" /><br/>
            <span  th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="error" id="phone.errors"></span>
			</div>
			
			<div>
            <label>地址:</label>
            <!-- <label for="city">縣市:</label> -->
            <select id="city" name="city" onchange="loadDistricts(this.value)">
<!--                 <option value="">請選擇縣市</option> -->
<option th:filed="*{city}" th:value="*{city}" th:text="*{city}" th:selected="*{city}"></option>
            </select>
            <span  th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="error" id="city.errors"></span>

            <!-- <label for="district">鄉鎮市區:</label> -->
            <select id="district" name="disc">
<!--                 <option value="">請選擇鄉鎮市區</option> -->
<option th:filed="*{disc}" th:value="*{disc}" th:text="*{disc}" th:selected="*{disc}"></option>
            </select>
            <span  th:if="${#fields.hasErrors('disc')}" th:errors="*{disc}" class="error" id="disc.errors"></span>

            <!-- <label>住址:</label> -->
            <input type="text" th:field="*{address}" onclick="hideContent('address.errors');" />
            <span  th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="error" id="address.errors"></span>
        	</div>
			
<!-- 			<div> -->
<!-- 			<label>市:</label> -->
<!-- 			<input type="text" th:field="*{city}" onclick="hideContent('city.errors');" /><br/> -->
<!--             <span  th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="error" id="city.errors"></span> -->
<!-- 			</div> -->
			
<!-- 			<div> -->
<!-- 			<label>區:</label> -->
<!-- 			<input type="text" th:field="*{disc}" onclick="hideContent('disc.errors');" /><br/> -->
<!--             <span  th:if="${#fields.hasErrors('disc')}" th:errors="*{disc}" class="error" id="disc.errors"></span> -->
<!-- 			</div> -->
			
<!-- 			<div> -->
<!-- 			<label>地址:</label> -->
<!-- 			<input type="text" th:field="*{address}" onclick="hideContent('address.errors');" /><br/> -->
<!--             <span  th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="error" id="address.errors"></span> -->
<!-- 			</div> -->
			
			<div>
			<label>照片:</label>
			<input type="file" th:field="*{img}" onclick="previewImage()" multiple="multiple" />
            <!-- 可以不修改圖片 <span  th:if="${#fields.hasErrors('admin_Img')}" th:errors="*{admin_Img}" class="error" id="admin_Img.errors"></span> -->
			<div id="blob_holder"><img th:src="@{/member/DBGifReader} + '?mem_Id=' + ${memberVO.mem_Id}" width="100px"></div>
			</div>
			
			<div>
				<div><button type="submit" id="submit"> 送出修改 </button></div>
			</div>		
		</form>
	
	</div>

<script th:src="@{/js/TwCityDisc.js}"></script>
<script th:src="@{/js/HandlePic.js}"></script>

</body>
</html>