@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: rosybrown;
}

h1 {
	font-size: 3.5rem;
	text-shadow: 3px 3px 5px lightpink;
}

header {
	color: cornsilk;
	display: flex;
	align-items: center;
	padding: 20px;
	justify-content: space-between;
}

header button {
    color: cornsilk;
    background-color: transparent;
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid lightgray;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 1px 1px 3px lightpink;
}

header button:hover {
    background-color: lightcoral;
    transform: scale(1.05);
}


div button {
	color: cornsilk;
	background-color: transparent;
	padding: 5px 10px;
	margin: 5px;
	border: 1px solid lightgray;
	border-radius: 3px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s;
}



button:hover {
	background-color: lightcoral;
}


/* 表格樣式 */
#itemTable {
	width: 90%;
	margin: 20px auto;
	border-collapse: collapse;
	background-color: #f8f9fa;
	color: cornsilk;
	font-size: 1rem;
	text-align: center;
	border-radius: 10px;
}

#itemTable thead th {
	background-color: #6c757d;
	color: cornsilk;
	font-weight: bold;
	padding: 10px;
}

#itemTable tbody tr {
	transition: background-color 0.2s;
}

#itemTable tbody tr:nth-child(even) {
	background-color: #f2f2f2;
}

#itemTable tbody tr:hover {
	background-color: #e9ecef;
	cursor: pointer;
}

#itemTable td {
	padding: 8px;
	text-align: center;
}

#itemTable td img {
	border-radius: 5px;
	transition: transform 0.3s ease;
}

#itemTable td img:hover {
	transform: scale(1.2);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


#itemTable_filter{
	color:cornsilk;
	margin-right: 5%;
	margin-bottom: 20px;
}



/* 搜尋框輸入框樣式 */
.dataTables_filter input {
    height: 40px;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 3px;
    border: 1.5px solid lightgray;
}

/* 分頁按鈕樣式 */
#itemTable_paginate{
	margin-right: 5%;
	color:cornsilk;
	
}

#itemTable_length{
	margin-left: 5%;
	margin-top:5px;
	color:cornsilk;
}

#itemTable_info{
	margin-left: 5%;
	color:cornsilk;
}



