<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>後台首頁</title>
<link th:href=@{/images/222.png} rel="shortcut icon">
    <style>
        *{
            box-sizing: border-box;
        }
        h1{
            text-align: center;
            color:lightpink;
        }
        div.login{
            text-align: center;
            /* right */
        }

    </style>
</head>
<body>
    <h1>這是一個後端開發人員設計的後台首頁</h1>
    <div class="login">
        <a th:href="@{/back-end/admin/admin_select_page}">管理員查詢</a>
    </div>
    
    <div>
        	<span th:if="${session.admin_Id != null}" style="border:1px solid blcak">
	  		歡迎,管理員<span th:text="${session.admin_Name}"></span>
	  		</span>
    </div>
	<div>
		    <form th:action="@{/logout}" method="post" th:if="${session.admin_Id != null}">
	    		<button type="submit">登出</button>
			</form>
	</div>
	
	
	
		<form th:action="@{/admin_order}" method="get">
			<button type="submit" class="order_manage">訂單管理</button>
		</form>
		<form th:action="@{/admin_money}" method="get">
			<button type="submit" class="money_manage">檢視營收</button>
		</form>
	   <form th:action="@{/pco/select_page}" method="get">
    	<div class="pco">
    		<button type="submit">平台優惠券</button>
    	</div>
		</form>
    <script>

    </script>
</body>
</html>