<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>會員資料 - listOneMember.html</title>

<head>
<style type="text/css">
	
    span {
		display: inline-block;
		width: 150px;
		text-align: left;
		font-weight: bold;
	}
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		 <div align="center"> <h2>會員個人資料 - listOneMember.html</h2>
		 <h3><a class="navbar-brand" th:href="@{/back-end/admin/listAllMember}"><img th:src="@{/images/222.png}">回會員中心<label th:text="${success}"></label></a></h3></div>
</nav>

	<div align="center" th:fragment="listOneMember-div"> <!-- 此div被select_page.html第158行insert用 -->
		<h3><span>查詢結果 :</span></h3>
		<span>會員帳號:</span><span th:text="${memberVO.ac}"></span><br/>
        <span>會員密碼:</span><span th:text="${memberVO.pw}"></span><br/>
        <span>會員姓名:</span><span th:text="${memberVO.name}"></span><br/>
        <span>Email:</span><span th:text="${memberVO.email}"></span><br/>
        <span>性別:</span><span th:text="${memberVO.getMemberStatusText}"></span><br/>
        <span>性別:</span><span th:text="${memberVO.sex}"></span><br/>
        <span>生日:</span><span th:text="${memberVO.birth}"></span><br/>
        <span>手機:</span><span th:text="${memberVO.phone}"></span><br/>
		<span>市:</span><span th:text="${memberVO.city}"></span><br/>
		<span>區:</span><span th:text="${memberVO.disc}"></span><br/>
		<span>地址:</span><span th:text="${memberVO.address}"></span><br/>
		<span>照片:</span><span><img th:src="@{/DBGifReader} + '?mem_Id=' + ${memberVO.mem_Id}" width="100px"></span><br/>
	</div>


</body>
</html>