<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Back廣咖樂</title>
<meta charset="utf-8" />
<meta name="viewport"
 content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" th:href="@{css/HomePage.css}" />
<style>
         button{
                padding: 5px;
                width: 50px;
                font-size: 16px;
                margin: 15px 0px;
                background-color:#ff6f91;
                color:white;
                border-radius: 8px;
                cursor: pointer;
        }
</style>
</head>

<body class="is-preload">
 <!-- Wrapper -->
 <div id="wrapper">

  <!-- Header -->
  <header id="header">
   <div class="inner">

    <!-- Logo -->
    <a th:href="@{/}" class="logo"><span class="symbol"><img
      src="images/coffee-beans.png" alt="" /></span><span class="title"><-Logo</span>
    </a>

    <!-- Nav -->
    <nav>
     <ul>
<li><a th:if="${session.mem_Id == null}" th:href="@{/login}">登入 || 註冊</a></li>
<li><span th:if="${session.ac != null}" style="border:1px solid blcak">歡迎,會員
  <span th:text="${session.name}"></span>
 </span>
</li>

<li>
 <form th:action="@{/mlogout}" method="post" th:if="${session.ac != null}">
    <button type="submit">登出</button>
 </form>
</li>
      <li><a href="#menu">Menu</a></li>
     </ul>
    </nav>

   </div>
  </header>

  <!-- Menu -->
  <nav id="menu">
   <h2>Menu</h2>
   <ul>
    <li><a th:href="@{/profile}">會員</a></li>
    <li><a th:href="@{/cafe}">咖啡廳</a></li>
    <li><a th:href="@{/lookItem}">商城</a></li>
    <li><a th:href="@{/events/list}">活動</a></li>
    <li><a th:href="@{/forum}">論壇</a></li>
    <li><a href="#menu">關閉選單</a></li>
   </ul>
  </nav>



  <div>
   <h4 class="cart-icon-container">
    <!-- 購物車超連結 -->
    <a th:href="@{/cart(memId=${session.mem_Id})}"> <img
     th:src="@{/images/cart.png}" class="cart-icon" alt="購物車" />
    </a>
   </h4>
  </div>


  <!-- Main -->
  <div id="main">
   <div class="inner">
    <header>
     <h1>
      啡享<br/>咖啡廳推廣平台
     </h1>
<!--      <p>文字輸入模板(小)</p> -->
    </header>
    <section class="tiles">
     <article class="style1">
      <span class="image"> <img src="images/pic01.jpg" alt="" />
      </span> <a href="#">
       <h2>星夜咖啡館</h2>
       <div class="content">
        <p>以文藝復古風聞名，提供精緻的手工咖啡與多款甜點，店內佈滿藝術畫作與柔和燈光，打造一個舒適、適合閱讀與創作的空間，成為許多文青的最愛角落。</p>
       </div>
      </a>
     </article>
     <article class="style2">
      <span class="image"> <img src="images/pic02.jpg" alt="" />
      </span> <a href="#">
       <h2>時光旅人咖啡</h2>
       <div class="content">
        <p>將復古與現代風格完美融合，主打創意特調與多款輕食。店內設有懷舊擺設與旅遊地圖，讓顧客彷彿展開了一場時空之旅，適合朋友聚會與浪漫約會。</p>
       </div>
      </a>
     </article>
     <article class="style3">
      <span class="image"> <img src="images/pic03.jpg" alt="" />
      </span> <a href="#">
       <h2>森語咖啡</h2>
       <div class="content">
        <p>以自然元素為主題，店內布滿綠意植物，專注於提供健康有機的咖啡與輕食選擇。清新的環境與寧靜的氣氛讓人彷彿置身森林，是忙碌城市中的小綠洲。</p>
       </div>
      </a>
     </article>
     <article class="style4">
      <span class="image"> <img src="images/pic04.jpg" alt="" />
      </span> <a href="#">
       <h2>微光角落咖啡</h2>
       <div class="content">
        <p>隱身於城市角落的小店，主打深焙咖啡與自製甜點。店內的溫暖燈光與木質裝潢營造出治癒氛圍，讓顧客在這裡放鬆身心，感受靜謐時光的美好。</p>
       </div>
      </a>
     </article>
     <article class="style5">
      <span class="image"> <img src="images/pic05.jpg" alt="" />
      </span> <a href="#">
       <h2>興波咖啡</h2>
       <div class="content">
        <p>台灣第一評價咖啡獎xxx</p>
       </div>
      </a>
     </article>
     <article class="style6">
      <span class="image"> <img src="images/pic06.jpg" alt="" />
      </span> <a href="#">
       <h2>CafeA</h2>
       <div class="content">
        <p>咖啡廳介紹內文</p>
       </div>
      </a>
     </article>
     <article class="style2">
      <span class="image"> <img src="images/pic07.jpg" alt="" />
      </span> <a href="#">
       <h2>CafeB</h2>
       <div class="content">
        <p>咖啡廳介紹內文</p>
       </div>
      </a>
     </article>
     <article class="style3">
      <span class="image"> <img src="images/pic08.jpg" alt="" />
      </span> <a href="#">
       <h2>CafeC</h2>
       <div class="content">
        <p>咖啡廳介紹內文</p>
       </div>
      </a>
     </article>
     <article class="style1">
      <span class="image"> <img src="images/pic09.jpg" alt="" />
      </span> <a href="#">
       <h2>CafeD</h2>
       <div class="content">
        <p>咖啡廳介紹內文</p>
       </div>
      </a>
     </article>
    </section>
   </div>
  </div>



  <!-- Footer -->
  <footer id="footer">
   <div class="inner">
    <section>

     <div class="pagination">
      <a href="#" class="prev">Previous</a> <a href="#"
       class="page-number">1</a> <a href="#" class="page-number">2</a> <a
       href="#" class="page-number">3</a> <a href="#" class="next">Next</a>
     </div>
    </section>
    <ul class="copyright">
     <li>網頁底下說明文字</li>
    </ul>
   </div>
  </footer>

 </div>

 <!-- Scripts -->
 <script src="js/jquery.min.js"></script>
 <script src="js/browser.min.js"></script>
 <script src="js/util.js"></script>
 <script>
  (function($) {

   var $window = $(window), $body = $('body');

   // 初始loading
   $window.on('load', function() {
    window.setTimeout(function() {
     $body.removeClass('is-preload');
    }, 100);
   });

   //RWD
   if (browser.mobile)
    $body.addClass('is-touch');

   // Menu.
   var $menu = $('#menu');

   $menu.wrapInner('<div class="inner"></div>');

   $menu._locked = false;

   $menu._lock = function() {

    if ($menu._locked)
     return false;

    $menu._locked = true;

    window.setTimeout(function() {
     $menu._locked = false;
    }, 350);

    return true;

   };

   $menu._show = function() {

    if ($menu._lock())
     $body.addClass('is-menu-visible');

   };

   $menu._hide = function() {

    if ($menu._lock())
     $body.removeClass('is-menu-visible');

   };

   $menu._toggle = function() {

    if ($menu._lock())
     $body.toggleClass('is-menu-visible');

   };

   $menu.appendTo($body).on('click', function(event) {
    event.stopPropagation();
   }).on('click', 'a', function(event) {

    var href = $(this).attr('href');

    event.preventDefault();
    event.stopPropagation();

    // Hide.
    $menu._hide();

    // Redirect.
    if (href == '#menu')
     return;

    window.setTimeout(function() {
     window.location.href = href;
    }, 350);

   })
   // .append('<a class="close" href="#menu">關閉</a>');

   $body.on('click', 'a[href="#menu"]', function(event) {

    event.stopPropagation();
    event.preventDefault();

    // Toggle.
    $menu._toggle();

   }).on('click', function(event) {

    // Hide.
    $menu._hide();

   }).on('keydown', function(event) {

    // Hide on escape.
    if (event.keyCode == 27)
     $menu._hide();

   });

  })(jQuery);
 </script>
</body>

</html>