<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" th:href="@{/css/Item.css}">
<title>CafeFly</title>

<style>
.item {
	padding: 2rem 1.5rem;
	margin-left: 5px;
	text-align: left;
}

/* 圖標的外部容器樣式 */
.cart-icon-container {
	position: fixed;
	bottom: 40px;
	right: 50px;
	z-index: 1000;
	width: 50px;
	height: 50px;
}

/* 購物車圖標的樣式 */
.cart-icon {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	transition: transform 0.3s;
	cursor: pointer;
}

.cart-icon:hover {
	transform: scale(1.15);
}
</style>
</head>
<body>
	<header>
		<h1>CAFE</h1>

		<div>
			<h4 class="cart-icon-container">
				<!-- 購物車超連結 -->
				<a th:href="@{/cart(memId=${session.mem_Id})}"> <img
					th:src="@{/images/cart.png}" class="cart-icon" alt="購物車" />
				</a>
			</h4>
		</div>

		<form th:action="@{/}" method="get" style="margin-left: auto;">
			<button type="submit" class="home">首頁</button>
		</form>
		<form th:action="@{/lookItem}" method="get">
			<button type="submit" class="mall">商城</button>
		</form>
		<form th:action="@{/index}" method="get">
			<button type="submit" class="mem_log_in">會員</button>
		</form>
		<form th:action="@{/cafe}" method="get">
			<button type="submit" class="cafe_log_in">咖啡廳</button>
		</form>
		<form th:action="@{/back-end}" method="get">
			<button type="submit" class="admin_log_in">管理員</button>
		</form>
	</header>

	<div class="item">
		<h3>
			<a th:href="@{/item}"
				style="text-decoration: underline; color: lightpink;">賣家商品管理、訂單管理、檢視營收</a>
		</h3>
	</div>

	<div>
		<h3
			style="text-align: center; color: #6c757d; font-size: 1.5rem; text-shadow: 1px 1px 3px lightgray">測試加入購物車</h3>
	</div>

	<div>
		<table id="itemTable" class="display">
			<thead>
				<tr th:each="item : ${itemList}" data-item-id="${item.itemId}"
					data-max-num="${item.num}">
					<td th:text="${item.name}"></td>
					<td><img th:if="${item.coverImg != null}"
						th:src="@{/coverImg(itemId=${item.itemId})}"
						style="height: 100px; width: auto;"> <span
						th:if="${item.coverImg == null}">尚無圖片</span></td>
					<td><span th:if="${item.status == 1}">上架</span> <span
						th:if="${item.status == 0}">下架</span> <span
						th:if="${item.status != 1 and item.status != 0}">未知</span></td>
					<td th:text="${item.price}"></td>

					<td>
						<form th:action="@{/cart/addCart}" method="post">
							<input type="hidden" name="itemId" th:value="${item.itemId}">
							<input type="hidden" class="form-quantity" name="num" value="1">
							<button type="submit" class="itemtocart">加入購物車</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- 	<script src="/js/home.js"></script> -->

</body>
</html>