<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>新聞資料修改 - updateNews.html</title>

<head th:insert="~{/back-end/news/included-fragment}"></head>
<style type="text/css">
    button {
        padding: 5px;
    }
    form {
        display: table;
    }
    form div {
        display: table-row;
    }
    label, input, span, select, textarea {
        display: table-cell;
        margin: 5px;
        text-align: left;
    }
    input[type=text], select, textarea {
        width: 300px;
        margin: 5px;
    }
    textarea {
        height: 100px;
    }
    .center {
        margin-left: auto;
        margin-right: auto;
    }
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
    <div align="center">
        <h2>新聞資料修改 - updateNews.html</h2>
        <h3><a class="navbar-brand" th:href="@{/news/listAllNews}"><img th:src="@{/images/back1.gif}">返回新聞列表</a></h3>
    </div>
</nav>

<div align="center">
    <h3><b>所有欄位皆為必填欄位</b></h3>
    <form th:action="@{update}" method="post" th:object="${newsVO}" enctype="multipart/form-data">
        <div>
            <label>新聞編號:</label>
            <input type="text" th:field="*{newsId}" style="border:0px; font-weight: bold;" readonly /><br/>
        </div>

        <div>
            <label>新聞標題:</label>
            <input type="text" th:field="*{title}" onclick="hideContent('title.errors');" /><br/>
            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error" id="title.errors"></span>
        </div>
        
        <div>
            <label>新聞狀態:</label>
            <select th:field="*{status}">
                <option value="0" th:text="'未發布'" th:if="*{status == 0}"></option>
                <option value="1" th:text="'已發布'" th:if="*{status == 1}"></option>
            </select>
            <span th:if="${#fields.hasErrors('status')}" th:errors="*{status}" class="error" id="status.errors"></span>
        </div>

        <div>
            <label>內容:</label>
            <textarea th:field="*{content}" onclick="hideContent('content.errors');"></textarea><br/>
            <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="error" id="content.errors"></span>
        </div>

        <div>
            <label>發布日期:</label>
            <input type="date" th:field="*{time}" onclick="hideContent('time.errors');" /><br/>
            <span th:if="${#fields.hasErrors('time')}" th:errors="*{time}" class="error" id="time.errors"></span>
        </div>

<!--         <div> -->
<!--             <label>封面圖片:</label> -->
<!--             <input type="file" th:field="*{coverImage}" onclick="previewImage()" multiple="multiple" /> -->
<!--             <div id="blob_holder"><img th:src="@{/news/DBGifReader} + '?newsId=' + ${newsVO.newsId}" width="100px"></div> -->
<!--         </div> -->

        <div>
            <div>
            	<button type="submit" id="submit"> 送出修改 </button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    function hideContent(d) {
        document.getElementById(d).style.display = "none";
    }
</script>

</body>
</html>
